* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.control-panel {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    max-height: 100px;
}

.start-button {
    height: 50px;
}

.player-indicator {
    font-size: 1rem;
    padding: 2%;
}

.opponent-message {
    display: flex;
    font-size: 1rem;
    margin: 5px;
    height: 5rem;
    width: 1fr;
    overflow: scroll;
    margin: 1%;
    justify-content: center;
    align-items: center;
}

.board {
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#table {
    border: 5px solid black;
    border-collapse: collapse;
}

.cell {
    border: 1px solid black;
    background-color: #2E8B57;
    width: 2rem;
    height: 2rem;
    position: relative;
}

/* 盤面の4隅と中央の間の4点に黒い中点を追加 */
.cell.midpoint::before {
    content: "";
    position: absolute;
    width: 0.5rem; /* 小さい円 */
    height: 0.5rem;
    background-color: black;
    border-radius: 50%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.player1-stone {
    background-color: black;
    border-radius: 100%;

    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player2-stone {
    background-color: white;
    border-radius: 100%;

    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player1-placeable {
    cursor: pointer;
    background-color: black;
    border-radius: 100%;
    opacity: 50%;

    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player2-placeable {
    pointer-events: none;
    cursor: pointer;

    background-color: white;
    border-radius: 100%;
    opacity: 50%;

    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    margin: 0.5%;
}